.header{
	text-align: center;
	font-style: 20em;
	height: 75px;
	line-height: 75px;
}
.signinbox {
	margin-top: 15%;
}
.panel-heading{
	text-align: center;
}
button{
	margin: 20% 35%;
	width: 60px;
	height: 60px;
}
.bodyimg{
	height: 115px;
}