.header{
	text-align: center;
	font-style: 20em;
	height: 75px;
	line-height: 75px;
	font-family: mario;
}
body{
	background-image:url(../images/mariobackground.jpg);
}
.panel-heading{
	font-family: mario;
	font-size: 24px;
	text-align: center;
}
#phead1{
	background-color: #cc0001;
	color: white;
}
#phead2{
	background-color: #009100;
	color: white;
}
.signinbox {
	margin-top: 15%;
}
.panel-body{
	font-family: mario;
	font-size: 14px;
}
button{
	height: 110px;
	padding: 2px;
}
.choiceimg{
	height: 94px;
}
.bodyimg{
	height: 115px;
}
.active{
	border-color: blue;
	font-style: bold;
}
@font-face {
	font-family: mario;
	src: URL(../images/supermario.ttf);
}
