.header{
	text-align: center;
	font-style: 20em;
	height: 75px;
	line-height: 75px;
	font-family: mario;
}
body{
	background-image:url(../images/mariobackground.jpg);
}
.panel-heading{
	font-family: mario;
}
.signinbox {
	margin-top: 15%;
}
.panel-heading{
	text-align: center;
}
button{
	margin: 0% 7%;
	width: 60px;
	height: 60px;
}
.bodyimg{
	height: 115px;
}
.active{
	border-color: blue;
	font-style: bold;
}
@font-face {
	font-family: mario;
	src: URL(../images/supermario.ttf);
}
